<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 物流管理系统</title>
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    @await Html.PartialAsync("_HeaderPartial")
    <div class="middle">
        <partial name="_MenuPartial" />
        <div class="content">
            @RenderBody()
        </div>
    </div>

    <partial name="_FooterPartial" />

    @RenderSection("Scripts", required: false)
</body>
</html>
