@model CQIE.LMS.Models.Identity.SysUser
@{
    ViewBag.Title = string.Format("欢迎使用物流管理系统");
    Layout = "_LoginLayout";
}
<link href="~/css/login.css" rel="stylesheet" />

<div class="login-panel">
    <div class="login-title">@ViewBag.Title</div>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        <div class="form-group">
            <input type="text" name="UserName" placeholder="请输入登录用户名" class="form-control" value="@(Model!=null? Model.UserName : "")" />
        </div>
        <div class="form-group">
            <input type="password" name="LoginPassword" placeholder="请输入登录账户的密码" class="form-control" value="@(Model!=null? Model.LoginPassword : "")" />
        </div>
        <div class="form-half-group">
            <ul>
                <li class="text-danger">@ViewBag.Msg</li>
            </ul>
        </div>
        <div class="form-group">
            <input type="submit" value="登  录" class="login-btn" />
        </div>
    }
</div>
